# Nix flake
if has nix; then
  use flake
fi

# Create python `uv` virtual environment
if [ ! -d ".venv" ]; then
  echo "Creating uv virtual environment"
  uv venv
fi

# Load local environment variables from .env if it exists
if [ -f .env ]; then
  dotenv
fi

# Activate python virtual environment
# layout python
PATH_add .venv/bin
export VIRTUAL_ENV="$(pwd)/.venv"
